.background {
    background-color: rgb(255, 135, 135);
    width: 100vw;
    height: 100vw;
}

.title {
    font-size: 70px;
    position: fixed;
    margin: 0;
    left: 41%;
    color: rgb(240, 217, 217);
  
    
}

.btnS {
    display: flex;
    width: 200px;
    height: 100px;
    background-color: rgb(255, 82, 82);
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    position: fixed;
    top:250px;
    right: 940px;
}

.btnR {
    display: flex;
    width: 200px;
    height: 100px;
    background-color: rgb(6, 139, 79);
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    position: fixed;
    top:450px;
    right: 940px;
}

.btnP {
    display: flex;
    width: 200px;
    height: 100px;
    background-color: rgb(233, 162, 47);
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    position: fixed;
    top:700px;
    right: 940px;
}

.btnh1 {
    margin: 0;
    font-size: 35px;
    color: rgb(0, 0, 0);
}