.userBack {
    position: fixed;
    top:160px;
    left: 1310px;
    width: 500px;
    height: 700px;
    background-color: white;
    margin: 0;
    border-radius: 30px;
}

.userh1 {
    margin: 0;
    position: relative;
    left: 20px;
}

.userValue {
   position: relative;
   font-size: 100px;
   left:200px;
   top:120px;

}